.bc-menu {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.5);
  /* min-width: 200px; */
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 0.3s ease, top 0.15s ease, left 0.15s ease;
}

.bc-menu .bc-menu-item {
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(30, 30, 30, 0.7);
  text-align: left;
  text-wrap: none;
}

.bc-menu .bc-menu-head {
  user-select: none;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(30, 30, 30, 0.7);
  border-bottom: none;
  text-align: left;
  font-size: 18px;
}

.bc-menu .bc-menu-item:hover {
  background-color: rgba(30, 30, 30, 0.75);
}

.bc-menu .bc-menu-item:not(:last-child) {
  border-bottom: none;
  border-radius: 0px;
}

.bc-menu .bc-menu-item:last-child {
  border-radius: 0 0 10px 10px;
}

.bc-menu-head-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
}

.disable-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
